<md-card>
	<form ng-submit="updateUser()" name="updateForm" layout="column" >
	  <div layout="row">
	    <div class="wrapper-image-profile" layout="row" flex-sm="25">
	    	<div ng-show="showProfileImage"  ng-file-select ng-model="file" multiple="false" class="not-anonymous-image">
	            <img ng-src="{{srcImageProfile}}" class="face" alt="{{user.username}}">
	    	</div>
			<div ng-hide="showProfileImage"   ng-file-select ng-model="file" multiple="false"  class="anonymous-image">
				<img ng-src="/assets/anonymousUser.png" class="face" alt="{{user.username}}">
			</div>
	    </div>				
		<div layout="row" class="info-user-profile" layout-align="space-between start">
			<div layout="column" class="bio-block">
			    <div class="username">
				 <md-input-container  md-no-float>
			      <label></label>
			      <input ng-model="user.username" placeholder="Username?">
			    </md-input-container  md-no-float>
		      	</div>
		  		<div class="bio">
		  			
		  	    <md-input-container md-no-float>
			      <label></label>
			      <input ng-model="user.bio" placeholder="Bio">
			    </md-input-container>
	      		</div>
			</div>
			<!-- <div>
				<md-button  ng-click="updateUser()"  class="md-fab profile-button" aria-label="Edit Profile">
					<md-icon  md-svg-src="/assets/ic_done_white_36px.svg"></md-icon>
				</md-button>
			</div> -->
    	</div> 
	  </div> 
	  <div layout="column" class="profile-user" >
		  <!--<div class="profile-header"s>
		  	Profile
		  </div>-->
		  <div layout="column" >
		  		<div class="biometrics">
						        <div class="age" layout="column">
						          <label> Date of birth </label>
								  	<div layout="row" class="age">
										<input id="age-field" type="date" name="dateField" ng-model="user.age"   placeholder="month/day/year">
								  		<div ng-if="updateForm.dateField.$invalid">
									  		 <div>Wrong format birth of date </div>
								  		</div>
						        	</div>
						        </div>
						        
				
						        <!-------------- SKIN TONES -------------->
						        <label > Skin Tone</label>
						        <md-radio-group class="skin-tones" ng-model="user.skin_tone" layout="row" layout-wrap>
							      <md-radio-button ng-repeat="it in avatarData"
							                       ng-value="it.value"
							                       aria-label="{{it.title}}" >
							          <img ng-src="{{it.img}}" class="avatar" alt="{{it.title}}">
				
							      </md-radio-button>
							     
							    </md-radio-group>
							    
							    <!-------------- SKIN TYPES -------------->
								 <label > Skin Type</label>
						        <md-radio-group ng-model="user.skin_type" class="md-primary">
							        <md-radio-button ng-repeat="skin_type in skin_types"
							                         ng-value="skin_type.value">
							            {{ skin_type.title }}<br/>
							        
							        </md-radio-button>
							    </md-radio-group>
									   
								<!-------------- SKIN PROBLEMS -------------->
								<div layout="column"> 
									<label>Skin Problems</label>
									
									
							          <md-checkbox class="skin-problem-checkbox" ng-hide="user.skin_problems[3].state" ng-model="user.skin_problems[0].state" aria-label="user.skin_problems[0].name">
							            {{user.skin_problems[0].name}}
							          </md-checkbox>
							           <md-checkbox class="skin-problem-checkbox" ng-hide="user.skin_problems[3].state" ng-model="user.skin_problems[1].state" aria-label="user.skin_problems[1].name">
							            {{user.skin_problems[1].name}}
							          </md-checkbox>
							           <md-checkbox class="skin-problem-checkbox" ng-hide="user.skin_problems[3].state" ng-model="user.skin_problems[2].state" aria-label="user.skin_problems[2].name">
							            {{user.skin_problems[2].name}}
							          </md-checkbox>
							           <md-checkbox class="skin-problem-checkbox" ng-hide="user.skin_problems[0].state || user.skin_problems[1].state || user.skin_problems[2].state"  ng-model="user.skin_problems[3].state" aria-label="user.skin_problems[3].name">
							            {{user.skin_problems[3].name}}
							          </md-checkbox>
								</div>
						        <!-------------- EYES -------------->
						        
						        <label >Eye color</label>
						        <md-radio-group ng-model="user.eye_color" class="md-primary">
				        <md-radio-button ng-repeat="eye_color in eye_colors"
				                         ng-value="eye_color.value">
				            {{ eye_color.title }}<br/>
				        
				        </md-radio-button>
				    </md-radio-group>
		        
		        
		  </div>
		        <!-------------- SOCIAL LINKS -------------->
		        
		        <label> Social Links </label>
		        <md-input-container class="input-youtube-channel">
			      <label>Youtube URL Channel</label>
			      <input ng-model="user.youtube_channel">
			    </md-input-container>
		        <md-input-container>
			      <label>Instagram Username</label>
			      <input ng-model="user.instagram_profile">
			    </md-input-container>
		        
		          <div layout="row" class="submit-button"  layout-align="end center">
						<md-button  type="submit"  ng-disabled="updateForm.$invalid" class="md-raised md-primary">SUBMIT</md-button>  
			        </div>
		        
		        
		  </div>
		</div>

	  
	</form>  
</md-card>




			