<md-card>
	<div layout="column" >
		
		<!-- HEADER PROFILE USER --> 
		<div layout="row" > 
				<div class="wrapper-image-profile"  layout="column" flex-sm="25">
						<div ng-show="user.hash_url_image" class="md-tile-left">
					    	<img ng-src="https://{{cdn}}/profile_images_{{enviroment}}/{{user.hash_url_image}}" class="face" alt="{{user.username}}">
						</div>
					    <div ng-show="!user.hash_url_image" class="md-tile-left">
					    	<img ng-src="/assets/anonymousUser.png" class="face" alt="{{user.username}}">
						</div>
					    
				</div>  
				
				<div class="info-user-profile" layout="row" layout-align="space-between start">
					<div layout="column" class="bio-block">
					    <div class="username">
					    	 <span class="title"> {{user.username}} </span>
					    </div>
					    <div class="bio sub-head">
					      <span ng-show="user.bio"> {{user.bio}}</span>
					    </div>
					    <div class="social-links" layout="row" >
						
							<img id="youtube-logo" ng-src="/assets/youtube_logo.png" alt="Youtube Profile">	
							<img id="instagram-logo" ng-src="/assets/instagram_logo.png" alt="Instagram Profile">
					    </div>						   					   
						
						<div class="user-biometric">
							<p>		
								{{biometrics}}
							</p>
					    </div>
					</div> 
					<div>
						<md-button  ng-href="/edit_profile" ng-click="getS3PolicyDocument();" ng-show="user.isProfileAuthenticated" class="md-fab edit-profile-button" aria-label="Edit Profile">
							<md-icon  md-svg-src="/assets/ic_edit_white_36px.svg"></md-icon>
						</md-button>
					</div>
				</div>	
		</div>	
		
		<div class="all-comments count-reviews  title "  layout="row"> Reviews ({{reviews.length}}) </div>

		<!-- LIST OF REVIEWS -->
		<md-list> 
			<md-list-item class="md-3-line" ng-repeat="review in reviews | orderBy: '-created_at'"  ng-click="goToProduct(review.product_id)" >
				<img ng-src="https://{{cdn}}/images_products/{{review.product.hash_url_image}}.jpg" alt="{review.product.product_name}" class="md-avatar">
				<div class="md-list-item-text">
					<div layout="row" layout-align="space-between start" >
						<div layout="column">
							<div class='josefin-h3'> 
								{{review.product.product_name}} 
							</div>
							<div class="product-rating" flex="15" flex-sm="20">
								<rating ng-model="review.stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
							</div>
						</div>
						<div class="date-created"> {{review.created_at | fromNow }} </div>
					</div>
					
					
				    <rating ng-model="review.stars"  readonly="true"  state-on="'glyphicon-star'" state-off="'glyphicon-star-empty'" on-hover="" on-leave="" max="5">
				    </rating>
				    
				    <div layout="row">
					     <div>
							{{review.body}}  
						</div>
						<span class="thumbs-up">  
					    	<span   class="fa fa-thumbs-o-up">  </span>  {{review.votes.length}}
						</span>
				    </div>
				</div>
			
			</md-list-item>
		</md-list>	
	</div>
 </md-card>

