<div layout="column" >
	<div layout="row"> 
		<div class="wrapper-image-profile">
			<div ng-show="user.image" class="md-tile-left">
		    	<img ng-src="{{user.image}}" class="face" alt="{{user.username}}">
			</div>
		    <span ng-show="!user.image">Hey upload your image! </span>
		</div>  
		<div layout="column">
		    <div class="username">
		    	 <span class="user-name"> {{user.username}} </span>
		    </div>
		    <div class="bio">
		      <span ng-show="user.bio"> {{user.bio}}</span>
		      <span ng-hide="user.bio"> Bio </span>
		    </div>
		</div>  	
	</div>	
	
    <div class="profile-user" layout="column">
		<div  class="profile-header">
		Profile
		</div>
		<div layout="column">
		      <div>Age: <span> {{user.age}} </span></div>
		      <div> Skin Type: <span> {{user.skin_type}} </span></div>
		      <div>	Skin Color: <span> {{user.skin_color}} </span> </div>
		      <div>	Skin Tone: <span> {{user.skin_tone}} </span></div>
		      <div> Skin Problems: <span ng-if="skin_problem.state == true" ng-repeat="skin_problem in user.skin_problems | filter:{state:true} | orderBy:'name'"> {{skin_problem.name}} <span ng-show=" ! $last ">,</span></span> </div>	      
		      	
		</div>
	</div>


    <div layout="row">
	    <a ng-href="/edit_profile" ng-click="getS3PolicyDocument();event.stopPropagation();"><md-button  class="md-raised md-primary">Edit Profile</md-button></a>
	</div>
 </div>
