<md-list  class="products-list" layout="column" layout-align="center center">
		<md-item  ng-repeat="product in products" >
			<div class='md-item-content-wrapper'>
			    <md-item-content ng-click="goToProductState('products',product.id)">
			      <div class='figure-wrapper' flex="38">
			        <figure><a ng-href="/products/{{product.id}}"> <img ng-src="https://d1sngtnp6jnqhe.cloudfront.net/{{product.hash_url_image}}.jpg" class="product-thumbnail" alt="{product.product_name}"></a></figure>
			      </div>
			      <div class="md-tile-content" layout="column" flex="50">
				   	<div> {{product.product_name}}  </div>
				   	<div> by {{product.brand_name}} </div>
				   	<div class="ratings">    
					   <rating ng-model="product.product_stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
        			</div>
				  </div>
			      <div class="wrapper-rate-approval" layout="column"  layout-align="start center" flex="6">
				      <div class="repurchase-percent"> 
				      {{ (product.buyers/(product.buyers + product.not_buyers))*100 | number:0}}  <span ng-hide="product.buyers ==0 && product.not_buyers ==0"> % </span>
				      </div>
					  <div ng-hide="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
						  APPROVAL RATE
					  </div>
					  <div ng-show="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
						  We don't have approval rate for this product
					  </div>
			      </div>
			    </md-item-content>
				<md-divider md-inset ng-if="!$last"></md-divider>
			</div>
		  </md-item>

		  <md-button id="load-more-product" ng-hide='paginator.ended' ng-click='paginator.nextPage()' class="md-raised md-primary">Load more products</md-button>
		  
		  <div ng-show='paginator.ended' > <p> We don't have more products with this search term do you want to check if have this in our data warehouse </p> </div>
		  
</md-list>


    
