<md-list  class="products-list" layout="column" layout-align="center center" infinite-scroll='paginator.nextPage()' infinite-scroll-distance='1'>
  <md-item ng-repeat="product in products | orderBy: '-upvotes'">
    <md-item-content>
      
        <figure><a href="/products/{{product.id}}"> <img ng-src="https://s3.amazonaws.com/murnow/images_products/{{product.hash_url_image}}.jpg" class="product-thumbnail" alt="{product.product_name}"></a></figure>
      
      <div class="md-tile-content">
        {{product.product_name}}         <a href="/products/{{product.id}}">Product  </a>
      </div>
    </md-item-content>
    <md-divider md-inset ng-if="!$last"></md-divider>

  </md-item>
  <div  ng-show='paginator.busy' class="progress-bar-wrapper" layout="column" layout-align="center center">  
	<md-progress-circular  class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
  </div>
  <div ng-show='paginator.ended' > <p> We don't have more products with this search term do you want to check if have this in our data warehouse </p> </div>
</md-list>


