//* RESETING HTML ELEMENTS *//
html {font-size:16px;outline:none !important; *:focus { outline: none; } font-family:$base-font;}
body {
	.mainNav {
		position: absolute;    right: 0px;   
		.md-button{font-weight: bold;font-size:20px;}
	}
	md-menu {position: fixed;    right: 0px; top:-3px;}
	
}

h1 {margin:0px;}
a {text-decoration:none;}
img {max-width:100%}


.wordwrap {  
   white-space: pre-wrap;      /* Webkit */    
   white-space: -moz-pre-wrap; /* Firefox */     
   white-space: -pre-wrap;     /* Opera <7 */    
   white-space: -o-pre-wrap;   /* Opera 7 */     
   word-wrap: break-word;      /* IE */ 
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


// Base
.glyphicon-thumbs-up {cursor:pointer;}
.invisible {visibility: hidden;}


// Overriding general angular components
ui-view {width:100%;overflow-x:hidden;}
ui-view > * {width:100%;}
md-radio-button.md-checked .md-off {border-color:$accent-color !important;}
md-radio-button .md-on {background-color:$accent-color !important;}
md-toolbar{background-color:$brand-color !important;}
button.md-raised.md-primary.md-button.md-default-theme {background-color:$accent-color;}
button.md-raised.md-primary.md-button.md-default-theme:hover {background-color:$accent-color;}
.md-button.md-fab {background-color:$accent-color !important;}
md-icon {height:1.5rem;width:1.5rem;}
md-virtual-repeat-container {display:none !important;}
md-dialog[role="alertdialog"] button span:first-child{
	color:$accent-color;font-weight:bold;
}
.md-button.md-primary {color:black;}

.margin-top-rem{margin-top:0.2rem;}


