$brand-font: 'Amatic SC';
$josefin-sans: 'Josefin Sans',sans-serif;

$base-font: "Lucida Grande";
$verdana: 'verdana';
$josefin-sans-light: 'Josefin Sans Light', sans-serif;

@mixin subheader {
	font-family: $josefin-sans;font-weight:400;color:white;font-size:2.5rem;
}

.headline {font-size:2.5rem;font-weight: 400; }

.title{ // Name product
	@include main-color; 
	font-size:1.875rem ;
	line-height:2rem;
	margin:0rem; 
	font-family:$base-font;
	font-weight: 400;
} 

@mixin sub-head{  // subitulo
	@include secondary-color;
	font-size:1.45rem;
	line-height:2rem;
	margin:0rem;
	font-family:$base-font;
	font-weight: 400;
}
	
.hint-text {
	@include hint-color;
	font-size:1.125rem; 
	margin:0rem;
	font-family:$josefin-sans;
	font-weight: 400;
	line-height:1.375rem
} 

p {
	@include secondary-color; 
	font-size:18px;
	line-height:21px;
	margin:0rem;
	font-family:$base-font;
	font-weight: 400;
} // review text (paragraph) 
