<md-dialog>
	<form ng-submit="addReview()" >
		 <md-toolbar>
		    <div class="md-toolbar-tools">
		      <h2>Add your review </h2>
		      <span flex></span>
		      <md-button class="md-icon-button" ng-click="closeDialog()" type="button">
		        <md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
		      </md-button>
		    </div>
		  </md-toolbar>
	  	<md-dialog-content >
			
		    	<md-input-container md-no-float>
		    		<textarea type="text" id="body-text-review" class="form-control" placeholder="Add your review here!" ng-model="body" required></textarea>
		    	</md-input-container>
		
				<div class="ratings-for-user">    
		          <rating ng-model="stars"    state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
		        </div>
		
		    	<div> Would you buy again? </div>
				<md-radio-group ng-model="repurchase">
		      		<md-radio-button value="true">Yes</md-radio-button>
		   			<md-radio-button value="false"> No </md-radio-button>
		    	</md-radio-group>
		    	<div  class="alert alert-danger" role="alert" ng-show="errors.reviewDialog">
		        	{{errors.reviewDialog}}
		      	</div>
		    
	    </md-dialog-content>
	    <div class="md-actions" layout="row">
	    	<md-button  type='submit' class="md-raised md-primary">Send Review</md-button>  
	  	</div>
	</form>
</md-dialog>


  