<md-dialog id="add-review-dialog">
	<form ng-submit="addReview()" name="addReviewForm" >
		 <md-toolbar>
		    <div class="md-toolbar-tools">
		      <h2>Edit your review </h2>
		      <span flex></span>
		      <md-button class="md-icon-button" ng-click="closeDialog()" type="button">
		        <md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
		      </md-button>
		    </div>
		  </md-toolbar>
	  	<md-dialog-content layout-padding>
			
		    	
				<div>
					<label>1. How good is this product?</label>
				</div>
				 
				<div class="ratings-for-user">    
		          <rating ng-model="stars"    state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
		        </div>
		
		    	<label id="would-you-buy-it-again"> 2. Would you buy it again? </label>
				<md-radio-group  ng-model="repurchase"  ng-change="repurchaseChanged()" >
					<div layout="row" layout-align="start center">
			      		<md-radio-button name="repurchaseField" value="true" > 
			      			<span id="yes"> Yes  </span> 								 
			      			<img src="/assets/happy_cupcake.png" class="check-mark " alt="Repurchase again">
	
				  		</md-radio-button> 
					</div>
			   		<div layout="row" layout-align="start center">
				   		<md-radio-button name="repurchaseField" value="false"> 
				   				<span id="no"> No </span>   								 
				   				<img src="/assets/sad_cupcake.png"  class="check-mark " alt="Repurchase again">
				   		</md-radio-button> 
					</div>
		    	</md-radio-group>
		    	<div>
					<label>3. Tell us more about your experience</label>
				</div>
		    	<md-input-container md-no-float>
		    		<textarea name="bodyField" type="text" id="body-text-review" class="form-control" ng-model="body" tabindex="-1"></textarea>
		    	</md-input-container>
		    	
		    	
		    	
		    	<div  class="alert alert-danger" role="alert" ng-show="errors.reviewDialog">
		        	{{errors.reviewDialog}}
		      	</div>
		       <div class="md-actions" layout="row" layout-align="end center" id="send-review">
			   		<md-button  type='submit' class="md-raised md-primary"  >Send Review</md-button>  
	  			</div>
	    </md-dialog-content>
	 
	</form>
</md-dialog>


  