  <div layout= "row" class="page-header">
      <figure ><img ng-src="https://s3.amazonaws.com/murnow/images_products/{{product.hash_url_image}}.jpg" class="product-thumbnail" alt="{product.product_name}"></figure>
      <span>{{product.product_name}}</span>
  </div>
  <div class="all-comments"> All Comments ({{product.reviews.length}}) </div>
  <form ng-submit="addReview()" style="margin-top:30px;">
      <md-input-container>
        <input type="text" class="form-control" placeholder="Add review hey!" ng-model="body"></input>
      </md-input-container>
  </form>

  <div ng-repeat="review in product.reviews | orderBy:'-upvotes'">
    <img ng-show="review.user.image" ng-src="{{review.user.image}}" class="face" alt="{{user.username}}">
    <span ng-show="!review.user.image">No Image</span>
    <span ng-click="incrementUpvotes(review)"></span>
    {{review.upvotes}} 
    <span style="font-size:20px; margin-left:10px;">
      {{review.body}} - by {{review.user.username}} {{review.user.created_at | date: 'medium'}}
    </span>
  </div>


