<md-card class="md-card-with-title">
	<div layout="column">
		<div class="state-title"> Followers </div>
		<!-- LIST OF REVIEWS -->
		 <md-list layout="row" ng-repeat="rows in chunkedData"  >
  
		    <md-list-item   itemprop="review" itemscope itemtype="http://schema.org/Review" ng-repeat="user in rows | orderBy:'-created_at'"  >
						<a ng-href="/profile/{{user.id}}" >
							<img ng-src="https://{{cdn}}/profile_images_{{enviroment}}/{{user.hash_url_image}}" class="face" alt="{{user.username}}">
		 
							<div id="username"> {{user.username}}</div>
						</a>	
			</md-list-item>
	
		</md-list>
		
			<div class="title-type" ng-if="users.length == 0" layout="column" layout-align="space-around center">
				You currently don't have any followers.
				
			</div>
	</div>
 </md-card>
 