$pink-color: #FCBEE9;
$amatic-font: 'Amatic SC';
$josefin-sans: 'Josefin Sans';
$color-divider: #FDD1F0;
$background-color-pink:white;

//#FFB5E8
body {
	font-family: $josefin-sans, sans-serif;	
}
ul li {float: right;list-style-type: none;}

.left {float:left;}
body,html {background:$background-color-pink;}

img {max-width:100%}

ui-view {width:100%;}
.not-home-page ui-view div{background-color:white;}
.amatic {font-family:$amatic-font;}
.amatic-pink{font-family: $amatic-font ; font-weight:700;color: $pink-color;}
ui-view{padding-left:15%;padding-right:15%;}


.weight-100 {font-weight:100;}
.weight-200 {font-weight:200;}
.weight-400 {font-weight:400;}
.weight-700 {font-weight: 700;}

md-content.md-default-theme {background-color:$background-color-pink;}

.justify-text {text-align:center;}
md-content{ margin-top:25px;}

/* GENERAL ELEMENTS RELATED WITH THE CLASSES */
.search-box-container input{width: 100%;}
.search-box-container form{margin-bottom:0px;}
#search-box-input {-webkit-box-sizing: inherit;box-sizing: inherit;}

.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  height: 48px;
  margin: 16px; }

 md-item{width:100%;}

.home-page header {color:white;}
.home-page li {cursor:pointer;}
md-content:not(.home-page){margin-top:21px;}

.profile-header{font-size:28px; @extend .amatic-pink}
.user-name {font-size:28px; @extend .amatic-pink}


/* HOME STYLE and HOME TEMPLATE VIEW */
.home-page {background-image: image-url('girly-wallpaper.jpg');}
.home-page md-content.md-default-theme {background-color:transparent;}
.home-page md-toolbar.md-default-theme{background-color: transparent;color:black}
.title-landing-page{height: 200px; font-size:62px; font-family: $amatic-font;font-style: normal;font-weight: 700;color:white}
.twitter-pitch-home{font-family: $josefin-sans;font-style: normal;font-weight: 100;color:white; font-size:30px;}


/* PRODUCT PROFILE */
.cropArea {
  width:500px;
  height:350px;
}

.product-profile {background-color:white;}


/* PUBLIC USER PROFILE */

/* LIST STYLES */

//.figure-wrapper { width:38.2%;}
//.md-tile-content {width:61.2%;}
md-divider[md-inset] {margin-left:auto;border-top-color:$color-divider;width:100%;}
.products-list .wrapper-rate-approval{@extend .amatic; @extend .weight-700;position:relative;top:-11px;}
.products-list .approval-rate {font-size:14px;}
.products-list .repurchase-percent {font-size:30px;}
.products-list .md-item {cursor:pointer;}
.products-list .figure-wrapper figure{margin:18px;}
.products-list {border-radius:3px;box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);margin-top:25px;background-color:white;}

@media screen and (max-width: 960px) {
    ui-view{padding-left:inherit;padding-right:inherit;}
}