.face {
  border-radius: 30px;
  border: 1px solid #ddd;
  width: 48px;
  margin: 16px; }

  .product-thumbnail {
  border: 1px solid #ddd;
  width: 70px;
  margin: 16px; }

  body {
	font-family: Helvetica, arial, freesans, clean, sans-serif;	
}
