@import 'base/colors';
@import 'base/typography';



	
	

@media screen and (max-width: 960px) {
	
	/* GENERAL FONTS */
	
	.ratings {font-size:14px;}
	.thumbs-up {font-size:14px;}
	.hint-text {font-size: 14px;}

	html{
		font-size:12px;
	}
	
	

	
	.home-page{
		header{padding:0px;}
		#search-bar-home-page md-autocomplete{width:100%;}
		.title-landing-page{margin-top:80px;}
		#search-bar-home-page{margin-top:2.5rem;}
	}
	
	
	
	
    ui-view{padding-left:inherit;padding-right:inherit;width:auto;}
	
	
	#logo > div {width:32px; text-align:center;border:1px solid white;line-height: 32px;border-radius:16px;font-size:3.6rem;margin-top:8px;  }
	
	.not-home-page{ 
		#logo {position: relative;left:0px;top:0px;}
		form md-autocomplete{width:180px !important;}
	}
	
	
	
}

@media (max-height: 600px), handheld and (orientation: landscape) { 
	
}

@media screen and (max-width: 600px) {
	
	#logo{width: 43px;}

	.beta-dialog{
		    #social-icons-home-page { left: -10px !important;top:10px !important;margin-bottom:2rem ;}

			.pitch{font-size:1.2em;}
			.explanation{font-size:1em;}
	}
	
	/* GENERAL FONTS*/
	p{font-size:14px;line-height:16px;}	
	body {
		.mainNav .md-button {    font-size: 14px;position: relative;left: 10px;}
	}
	md-toolbar {min-height: 56px !important;}
	
	html{
		font-size:9px;
	}
	
	
	// product-info-row
	.row-product-info {
		
		.wrapper-rate-approval {width:69px; height:69px; border-radius:39.5px; margin-right:inherit;padding: 0px 0px;
			.approval-rate{font-size:1.4rem;}
			.repurchase-percent{font-size:inherit;font-size:3.5rem;}
		}
		#image-product { margin-left:0px;
			img{max-width: 82px;}
				
		}

		@extend .separate-stars;
		#product-info{padding-right:inherit;}
		md-divider{width:100%;margin-left:0px;}		
	}
 max-height:400px;
							
	
	// *** HOME PAGE ***/
	.home-page{
		background-color:$brand-color;
		form md-autocomplete {width:100%;}
		#md-toolbar-header { height:100%; background-image:url('/assets/backdrops/backdrop_mobile.png'); background-size:120%;}
		.thumbnail-product{	border: 1px solid $accent-color;    position: relative;    width: 45px !important; height: 45px;   top: -30px;    left: 50px;}

		/*#social-icons-home-page{ legacy code to move social icons to the bottom in mobile.
			z-index: 50000;
    		bottom: -30px !important;
    		width:100%;
    		text-align:center;
    		bottom:10px;
    		top: initial;
    		left: initial;
    		position:relative;
    		#twitter-social{ margin-left:5px;}
    	}*/
    	
    	#promotion-wrapper img{height:auto;}
    	
    	.trending-products-images{
			> .layout-row  {width: 90%;}
			#contours {height:60px; padding:10px;}
			#mascaras {height:70px;padding: 5px;}
		}
		
		.review-card-wrapper{
			max-width: none;
			
			.md-list-item-text{padding-left:1rem;}
			h3 {font-size:1.1em}
		}
		.review-item .review-text .header-review .user-name-review-product {font-size:16px;}
    	

	}
	
	//*** NOT HOME PAGE ***/
	.not-home-page {
		.check-mark {margin-left:5px;}
		md-card {margin:0px;padding:5px;}
		md-content {margin-top:0px;}
		
		.list_products,.trending_products {
			md-list {
				md-list-item  {
					> button {
						.md-list-item-inner{
							@extend .row-product-info;
						}
					}
					
					
				}
				
			}
		}
	
		.trending_products{
			md-card {margin-top:10rem;}
			
			.list-tranding-title{font-size:32px;}
			
					md-list-item:nth-child(2) {
		    border-top: rgba(255, 170, 187, 0.49) 2px solid;
			}
		}
	
		.products{
			.header-product {
				@extend .row-product-info;	
			}
			md-list{
				margin-left:0px;
				 md-list-item .md-no-style  {padding-left:0px ;}
			}
		}

		.profile{
			 md-list-item .md-no-style {padding-left:0px;}
			 md-list {
				 .review-item{
					 .user-review-image img{width:45px;height:45px;}
				 }
			 }
		}
		
		.feed {
			
			.review-item{
					.md-list-item-image  {min-width:70px;}

				.thumbnail-big {
					img{width:60px;}	
				}
			    .thumbnail-small{
				    top:-29px;left:32px;
					img{width:40px;}
				
				}	
			}
		}
	}
	
	
	
	
	
	.cropArea img-crop {max-width:320px;}
    md-dialog{width:100%;height:100%;max-width:100%;max-height:100%;margin-top:0px;}
	#progress-circular{display:none; z-index:1001;position:fixed;  left: 0;right: 0;margin: 0 auto;top:100px;}
	
	.products-list {
  
		#product-info {position: relative;top:auto; left:auto;font-family: $base-font;line-height: 18px;}
		#image-product {margin-bottom:auto;margin-top:auto;margin-right: 20px;}
		 
	}
  
}

@media screen and (max-width: 320px) { //iphones 4 and iphones 5
	.home-page .review-item .user-review-image img {max-width:60px; width:60px;}
	.home-page .thumbnail-product {left:40px;}

}

@media screen and (max-width: 1190px) {
	#social-icons-not-home-page{display:none;}
}

@media screen and (min-width: 960px){
	.not-home-page{
		.form-wrapper-search{top: 4px ;position: relative;}
	}
	
	#add-review-dialog{
		min-width:600px;
	}
}


	
@media screen and (max-width: 960px) and (min-width: 600px) {
	
	.home-page{
		#md-toolbar-header{max-height: 430px;}
		
		.trending-products-images{
			> .layout-row  {width: 60%;}
		}
	}
    .not-home-page {
	    	 .wrapper-rate-approval{width:120px !important; height:120px !important;
		    	 .approval-rate{font-size:20px !important;}
		    	 .repurchase-percent{font-size:40px !important;}
	    	 }
	    	 
	    .list_products {
			.md-list-item-inner{width:100%;margin-left:0px;}    
			md-divider {width:100% !important;margin-left:0px !important;}
		    
		}


	}	

}




