
$monte-carlo:#80CBC4;
$pink-color: #FCB4E6;
$amatic-font: 'Amatic SC';
$josefin-sans: 'Josefin Sans',sans-serif;
$color-divider: #FDD1F0;
$background-color-pink:#D4FFFB;
$monte-carlo:#80CBC4;
$lucida-grande: "Lucida Grande";




@media screen and (max-width: 960px) {
    ui-view{padding-left:inherit;padding-right:inherit;width:auto;}
	
	
	#logo > div {width:32px; text-align:center;border:1px solid white;line-height: 32px;border-radius:16px;font-size:25px;margin-top:8px;}
}





@media screen and (max-width: 600px) {
	.home-page{
		ui-view{display:none}
		background-color:$monte-carlo;
		md-autocomplete {width:100%;}
	
		
	}
	
	.not-home-page {
		md-card {margin:0px;}
		md-content {margin-top:0px;}
		md-list {
			padding-top:0px;
			md-list-item  {
				padding:0px;
				> button {
					padding:0px 0px;
					.md-list-item-inner{
						padding:20px 22px 20px 24px;
						.wrapper-rate-approval {width:79px; height:79px; border-radius:39.5px; }
					}
				}
				
				
			}
			
		}
		md-autocomplete {width:40%;position:relative;}
		#search-bar-not-home-page {position:relative;left:-30px;}
		
		
	}
    md-dialog{width:100%;height:100%;max-width:100%;max-height:100%;}
    #login-button {display:none;}
	#progress-circular{display:none; z-index:1001;position:fixed;  left: 0;right: 0;margin: 0 auto;top:100px;}
	
	.products-list {
  
		#product-info {position: relative;top:auto; left:auto;font-size: 14px;font-family: $lucida-grande;line-height: 18px;}
		#image-product {margin-bottom:auto;margin-top:auto;margin-right: 20px;}
		 
	}
  
}


@media screen and (max-width: 960px) and (min-width: 600px) {
    .not-home-page {
	    md-card {margin:10px 10px;}
	}	
}