<p>Hi there,</p>

<p>You can set a new password here:</p>

<p><%= link_to 'Change my password', root_url + "#resetpassword?resetToken=" + @token,:style=>'color:#FFAABB;'   %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
