
<div class="page-header">
  <h1>Reset password</h1>
</div>
<md-content md-theme="light-blue-dark">
  <form ng-submit="changePassword(changePasswordForm)" >
    <md-text-float label="New Password" ng-model="changePasswordForm.newPassword" class="long"> </md-text-float>
    <md-text-float  label="Confirm new password" ng-model="changePasswordForm.confirmPassword"></md-text-float>
    <md-button  type='submit' class="md-primary" md-theme="cyan">Change password</md-button>
  </form>
</md-content>

<div  ng-show="errors.emailNotFoundReset">
  {{errors.emailNotFoundReset}}
</div>