<md-dialog aria-label="Forgotten password request" class="beta-dialog"> 
	<md-toolbar>

  		<div class="md-toolbar-tools">
		    <span flex></span>
		    <md-button class="md-icon-button" ng-click="goToLoginPrivateDialog()" type="button">
			<md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content class="sticky-container" ng-hide="successfulMessage">
			<img id="happy-cupcake" src="/assets/happy_cupcake_big.png" hide-gt-sm>

		<div>
			
		  <form ng-submit="resetPassword()" ng-submit="resetPassword()">
		  	<md-input-container>
        		<label>Email</label>
        		<input type="email" ng-model="resetPasswordForm.email" ng-model-options="{ getterSetter: true }">
    		</md-input-container>
		   	<md-button class="md-raised md-primary">Recover my passsword</md-button>
		  </form>
			
	
			<div ng-show="errors.emailNotFoundReset">
			  {{errors.emailNotFoundReset}}
			</div>
			<div  ng-show="successfulMessage">
			  {{successfulMessage}}
			</div>
		</div>
	</md-dialog-content> 
</md-dialog>
