<md-dialog aria-label="Mango (Fruit)">
<div class="page-header">
  <h1>Log In</h1>
</div>
<md-content md-theme="light-blue-dark">
  <form ng-submit="login()" >
    <md-text-float label="Email" ng-model="user.email" class="long"> </md-text-float>
    <md-text-float type="password" label="Password" ng-model="user.password"></md-text-float>
    <md-checkbox ng-model="user.remember_me" aria-label="Checkbox 1">
      Remember Me 
    </md-checkbox>
    <md-button class="md-raised md-primary">Log In</md-button>

    <md-button  ng-href="#/forgotpassword" class="md-primary" md-theme="cyan">Forgotten pasword?</md-button>
  </form>
</md-content>
    <div class="alert alert-danger" role="alert" ng-show="errors.errorPasswordEmail">
      {{errors.errorPasswordEmail}}
    </div>
</md-dialog>



