<md-dialog aria-label="Sign Up Dialog"> 
 	<md-toolbar>
		    <div class="md-toolbar-tools">
		      <h2>Join our community! </h2>
		      <span flex></span>
		      <!--<md-button class="md-icon-button" ng-click="closeDialog()" type="button">
		        <md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
		      </md-button>-->
		    </div>
	</md-toolbar>
	<md-dialog-content class="sticky-container">
		<div>
			<!--<div layout="row" layout-align="center center">
			 	<md-button class="md-primary"  ng-click="showDialogLogin()">I already have an account</md-button>
			</div>-->
		    <form name="registerForm" ng-submit="register()">
				<div>
			        <md-input-container>
			          <label> Email </label>
			          <input ng-model="user.email" type="email" name="email" autofocus autocomplete="email" >
			        </md-input-container>
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorEmail">
			          {{errors.errorEmail}}
			        </div>
			        
			        <md-input-container>
			          <label> Name </label>
			          <input type="text"  ng-model="user.username"  name="name" autocomplete="name" >
			        </md-input-container>
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorName">
			          {{errors.errorName}}
			        </div>
			
			        <md-input-container>
			          <label> Password </label>
			          <input ng-model="user.password" type="password" name="password" ng-model="user.password" autocomplete="password"  >
			        </md-input-container>
			
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorPassword">
			          {{errors.errorPassword}}
			        </div>
			    </div>
			    <div layout="row" layout-align="center center">
					
						
						<!--<md-button class="md-raised md-primary facebook-login-button" ng-href="/users/auth/facebook" target="_self">Connect with Facebook</md-button>-->
						<md-button type="submit" class="md-raised md-primary" ng-hide="hideJoin">JOIN</md-button>	
						<div class="alert alert-danger" role="alert" ng-show="errors.invitationUsed">
							{{errors.invitationUsed}}
			        	</div>
				</div>		  
			</form>

						
		</div>
		</md-dialog-content> 
</md-dialog>




