<md-dialog id="register-dialog" aria-label="Sign Up Dialog"  class="beta-dialog"> 
 	<md-toolbar>
 	
		    <div class="md-toolbar-tools">
		      <span flex></span>
		
		    </div>
	</md-toolbar>
	<md-dialog-content class="sticky-container">
	
		<img id="happy-cupcake" src="/assets/happy_cupcake_big.png" hide-gt-sm>
		<div layout="column" layout-align="center center">				
			<div class="title"> 
		    	MAKEUP REVIEWS NOW
	    	</div>
	    	<div class="pitch">
		    	The Makeup Review Haven
	    	</div>
	    	<div class="explanation" hide-sm hide-md>
		
You have been invited to Murnow! Read user reviews of your favorite makeup, and add your voice to the conversation. Sign up now to get a preview of what's in store!	    	</div>
		    <form name="registerForm" ng-submit="register()" layout="column">
				<div>
			        <md-input-container>
			          <label> Email </label>
			          <input ng-model="user.email" type="email" name="email" autofocus autocomplete="email" required>
			        </md-input-container>
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorEmail">
			          {{errors.errorEmail}}
			        </div>
			        
			        <md-input-container>
			          <label> Name </label>
			          <input type="text"  ng-model="user.username"  name="name" autocomplete="name" required>
			        </md-input-container>
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorName">
			          {{errors.errorName}}
			        </div>
			
			        <md-input-container>
			          <label> Password </label>
			          <input ng-model="user.password" type="password" name="password" ng-model="user.password" autocomplete="password" required>
			        </md-input-container>
			
			        <div class="alert alert-danger" role="alert" ng-show="errors.errorPassword">
			          {{errors.errorPassword}}
			        </div>
			    </div>
			    <div layout="column" layout-align="center center">
					
						
							<!--<md-button class="md-raised md-primary facebook-login-button" ng-click="facebookRegister()"  >Connect with Facebook</md-button>-->
						<md-button type="submit" class="md-raised md-primary" ng-hide="invitationUsed">JOIN</md-button>	
				    	<md-button  class="button-not-raised" type="button" ng-click="goToLoginPrivateDialog()"  >I already have an account</md-button>		

						<div ng-show="invitationUsed" class="body">
							This invitation has already been used. You can request a new invitation <span class="cursor" ng-click="showRequestInvitationDialog()"> here </span>.		        
 						</div>
				</div>	
			    <div class="explanation margin" show-md  hide-gt-sm>
		You have been invited to Murnow! Make Up Reviews Now allows you to voice your opinion on your favourite makeup and see what other people are saying. Sign up now to get a preview of what is in store!
	    	</div>	  
	    	
	    	
			</form>
			
						
		</div>
		</md-dialog-content> 
</md-dialog>



