
<div class="page-header">
  <h1>Reset password</h1>
</div>
<md-content md-theme="light-blue-dark"  ng-hide="successfulMessage">
  <form ng-submit="changePassword(changePasswordForm)" >


  	<md-input-container>
        <label> New password </label>
        <input ng-model="changePasswordForm.newPassword" required>
    </md-input-container>
	<md-input-container>
        <label> Confirm new password </label>
        <input ng-model="changePasswordForm.confirmPassword" required>
    </md-input-container>
    <md-button  type='submit' class="md-raised md-primary" md-theme="cyan">Reset Password</md-button>
  </form>
</md-content>
<div ng-show="errors.errorReset">
  {{errors.errorReset}}
</div>
<div  ng-show="successfulMessage">
  {{successfulMessage}}
</div>