<md-dialog aria-label="Reset password"  class="beta-dialog"> 
		<md-toolbar>
 	
		    <div class="md-toolbar-tools">
		      <span flex></span>
		       <md-button class="md-icon-button" ng-click="goToLoginPrivateDialog()" type="button">
			   	<md-icon md-svg-src="/assets/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
				</md-button>
		    </div>
		</md-toolbar>
		<md-dialog-content class="sticky-container">
			<img id="happy-cupcake" src="/assets/happy_cupcake_big.png" hide-gt-sm>
			<div>
			  <form ng-submit="changePassword(changePasswordForm)">
			  	<md-input-container>
			        <label> New password </label>
			        <input ng-model="changePasswordForm.newPassword" required>
			    </md-input-container>
				<md-input-container>
			        <label> Confirm new password </label>
			        <input ng-model="changePasswordForm.confirmPassword" required>
			    </md-input-container>
			    <md-button  type='submit' class="md-raised md-primary" md-theme="cyan">Reset Password</md-button>
				<div ng-show="errors.errorReset">
				  {{errors.errorReset}}
				</div>
				<div  ng-show="successfulMessage">
				  {{successfulMessage}}
				</div>
			  </form>
			</div>
		</md-dialog-content>   
</md-dialog>