
<div class="page-header">
  <h1>Reset password</h1>
</div>
<md-content md-theme="light-blue-dark"  ng-hide="successfulMessage">
  <form ng-submit="changePassword(changePasswordForm)" >
    <md-text-float label="New Password" ng-model="changePasswordForm.newPassword" class="long" required> </md-text-float>
    <md-text-float  label="Confirm new password" ng-model="changePasswordForm.confirmPassword" required></md-text-float>
    <md-button  type='submit' class="md-raised md-primary" md-theme="cyan">Reset Password</md-button>
  </form>
</md-content>
<div ng-show="errors.errorReset">
  {{errors.errorReset}}
</div>
<div  ng-show="successfulMessage">
  {{successfulMessage}}
</div>