<md-card class="md-card-with-title">
	<md-list  class="products-list" layout="column">
			<div class="state-title"> Top 10 {{listName}} </div>	

			<md-list-item  itemscope itemtype="http://schema.org/Product" ng-repeat="product in products" ng-click="goToProductState('products',product.id)">
				<div  class="md-list-item-text" layout="row" layout-align="space-around center" flex="100" >
			        <div   id="image-product" flex-sm="16" flex-gt-sm="20">
			        	<a ng-href="/products/{{product.id}}"> <img itemprop="image" ng-src="https://{{cdn}}/images_products/{{product.hash_url_image}}.jpg" class='' alt="{product.product_name}"></a>
			        </div>  
					<div id="product-info" class="md-tile-content" layout="column"  flex-sm="50" flex-gt-sm="50" >
						<div id="name-product " class="wordwrap"><h2 class="title" itemprop="name">{{product.product_name | limitLength:22}}<span></span></h2></div>
						<div id="brand-name"><h3 itemprop="brand">by {{product.brand_name}}</h3></div>
						<div class="ratings">    
							   <rating ng-model="product.product_stars"  readonly="true"  state-on="'fa fa-star'" state-off="'fa fa-star-o'" on-hover="" on-leave="" max="5"></rating>
		        		</div>
					</div>
					<div  class="wrapper-rate-approval" layout="column"  layout="column" layout-align="space-around center"  flex-gt-sm="20">
						      <div class="repurchase-percent "> 
						      <span>{{ product.rating | number:0 }} </span> <span ng-hide="product.buyers ==0 && product.not_buyers ==0"> % </span>
						      </div>
							  <div ng-hide="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
								  REPURCHASE
							  </div>
							  <div ng-show="product.buyers ==0 && product.not_buyers ==0" class="approval-rate"> 
								  We don't have approval rate for this product
							  </div>
					</div>
				</div>
				<md-divider ng-if="!$last"></md-divider>
			</md-list-item>
		</md-list>
			  
</md-card>
