<html>
<head>
  <base href="/">
  <title>MurnowAngular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
 <body layout="column" class="thin-font" ng-class="{'home-page':isHomePage,'not-home-page':!isHomePage}" ng-app="murnow">
	  <md-toolbar layout="column">
	      <header   layout="column" layout-padding>
		   	        <div  ng-include="'header/_header.html'"></div>
		     
		      <div layout="column" class="title-landing-page" layout-align="center center" ng-show=" 'home'  | isState "> Murnow </div>
	      </header>
	  
      </md-toolbar>
     
      <div layout="column" class="search-box-container">
	      <form ng-submit="searchProducts()" ng-controller="SearchCtrl">
	        <input id="search-box-input" class="search-box" type="search" placeholder="Find make up reviews" ng-model="searchFilter.searchQuery">
	      </form>
	      
      </div>
      <md-content>
      	<!-- <div flex="20" flex-sm="0" flex-md="0"></div> -->
        <ui-view ng-class="getCurrentNameState()"  layout="row" autoscroll="false"></ui-view>
        <!--<div flex="20" flex-sm="0" flex-md="0"></div> -->
      </md-content>
	  <md-progress-circular id="progress-circular" md-mode="indeterminate" ></md-progress-circular>
      
      <%= javascript_include_tag 'application' %>
  </body>
</html>
