<html>
<head>
  <base href="/">
  <title>MurnowAngular</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
 <body layout="column" ng-app="murnow">

      <md-toolbar ng-hide=" 'home'  | isState ">
        <div ng-include="'header/_header.html'"></div>
     
      </md-toolbar>


     
      
  <form class="search-box-container" ng-hide=" 'home'  | isState " class="search-box-container"  ng-show=" 'home'  | isState " ng-submit="searchProducts()" ng-controller="SearchCtrl">
        <input class="search-box" type="search" ng-model="searchFilter.searchQuery">
      </form>
      <form  class="search-box-container"  ng-show=" 'home'  | isState " ng-submit="searchProducts()" ng-controller="SearchCtrl">
        <input class="search-box" type="search" ng-model="searchFilter.searchQuery">
      </form>
      <md-content  class="md-padding" >
        <ui-view></ui-view>
      </md-content>
  </body>
</html>
