<html ng-app="murnow">
<head>
  <base href="/">
  <title >{{$root.pageTitle}}</title>
  <link href="/assets/favicon.ico" rel="icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
	  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', "<%= ENV['ANALYTICS_CODE'] %>", 'auto');
	  ga('send', 'pageview');
	
	</script>
	<script>
		(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;
s.src='https://widget.intercom.io/widget/{app_id}';
var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()
</script>
</head>
 <body layout="column" class="thin-font" ng-class="{'home-page':isHomePage,'not-home-page':!isHomePage}" >
	    <md-toolbar layout="column">
	        <header   layout="column" layout-padding >
		    	<div  ng-include="'header/_header.html'"></div>	
				<div><h1 layout="column" class="title-landing-page" layout-align="center center" ng-show=" 'home'  | isState ">MAKEUP REVIEWS NOW</h1></div>
				<div>
					<form id="search-bar-home-page" ng-submit="ctrl.submittingTextSearch(ctrl.searchText)" flex-sm="100" ng-controller="SearchCtrl as ctrl" >
						<md-autocomplete
						          ng-disabled="ctrl.isDisabled"
						          md-no-cache="ctrl.noCache"
						          md-selected-item="ctrl.selectedItem"
						          md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
						          md-search-text="ctrl.searchText"
						          md-selected-item-change="ctrl.selectedItemChange(item)"
						          md-items="item in ctrl.querySearch(ctrl.searchText)"
						          md-item-text="item.product_name"
						          md-min-length="100"
						          md-autofocus="true"
						          placeholder="Type a brand or product name...">
						    <img ng-src="https://d1sngtnp6jnqhe.cloudfront.net/{{item.hash_url_image}}" class='md-avatar' alt="{item.product_name}" with="25" height="25">
						    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.product_name}}</span>
						</md-autocomplete>
     				</form>
				</div>
				<div class="trading-products" > 
					 <span> Top 10:</span> 
					 <span ng-click="trendingProductsLipstick('29202,31243')"> Lipstick </span> 
					 | 
					 <span ng-click="trendingProductsLipstick('29202,31243')"> Foundation </span> 
					 |
					 <span ng-click="trendingProductsLipstick('29202,31243')"> Palettes </span>
					 |  
					 <span ng-click="trendingProductsLipstick('29202,31243')"> Mascara </span> 
					 |  
					 <span ng-click="trendingProductsLipstick('29202,31243')"> Eye Liners </span> 
				</div>
				<div>
					<h2 class="twitter-pitch-home md-display-1 justify-text" layout-align="center center" ng-show=" 'home'  | isState "> Find the most effective makeup in seconds.</h2>
				</div>
		       <md-progress-circular id="progress-circular" md-mode="indeterminate"  ></md-progress-circular>
	        </header>
		</md-toolbar>





      <!-- <div layout="column" class="search-box-container">
	      <form ng-submit="searchProducts()" ng-controller="SearchCtrl">
	        <input id="search-box-input" class="search-box" type="search" placeholder="Find make up reviews" ng-model="searchFilter.searchQuery">
	      </form> 
      </div> -->
      
      <md-content>
      		<ui-view  autoscroll="false" ng-class="getCurrentNameState()"  layout="row" ></ui-view>        
      </md-content>
           

      <%= javascript_include_tag 'application' %>

  </body>
</html>
 
 
 
